* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Noto Serif Font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Inter Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: rgb(30, 30, 30, 10%);
}

/* shared style */
.text-gray {
  color: #0000007e;
}

nav {
  display: flex;
  justify-content: center;
}
.navbar {
  max-width: 1440px;
  width: 80%;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #0000007e;
}
.home {
  color: black;
}

/* Banner section */
.banner-main {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.banner-container {
  max-width: 1440px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner-section {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.banner-title {
  font-weight: bold;
  font-size: 3rem;
}
.flowers {
  font-weight: bold;
  font-size: 3rem;
  color: #e95a08;
}
.fresh {
  color: #e95a08;
  padding-left: 0.6rem;
}
.banner-img {
  height: 280px;
}

/* main section */
main {
  display: flex;
  justify-content: center;
}
/* card-section */
.card-section {
  max-width: 1440px;
}

.card-section {
  margin-top: 120px;
  max-width: 1440px;
  width: 80%;
}
.card-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.our {
  color: #e95a08;
}
.card-title-description {
  text-align: center;
  font-size: 1.4rem;
}
.card-container {
  width: 100%;
  height: auto;

  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  place-items: center;
  row-gap: 30px;
}
.card-box {
  width: 90%;
  height: auto;
}
.card-img {
  width: 100%;
}
.lily {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.usd {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}
.card-cart {
  width: 100%;
  font-weight: 500;
  padding: 15px 40px;
  text-align: center;
  background-color: #e95a08;
  border: none;
  color: white;
  margin-top: 10px;
}

/* Responsive Design For Mobile Device */

@media screen and (max-width: 576px) {
  /* Navbar section */
  .nav-links li:not(:last-child) {
    display: none;
  }
  .logo {
    width: 63px;
  }

  /* Banner section */
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner-section {
    margin-top: 20px;
    margin-right: 10px;
    gap: 8px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .flowers {
    font-weight: 600;
    font-size: 1.5rem;
    color: #e95a08;
  }
  .fresh {
    color: #e95a08;
  }

  /* card-section */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-cart {
    padding: 11px 1px;
  }
}
